{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/x-icon">
    <title>Trivy</title>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,600;1,400&family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>
    <div class="block">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="text">
        <h1>Best of the city, with those who know it best.</h1>
        <p>
            <b>Trivy is an Airbnb for Tour Guides.</b> <br>
            By bringing together local people with shared interests,
            Trivy provides the personalised guide experience that you've been missing for so long.
        </p>
    </div>
</body>
</html> 